@import "tailwindcss";

:root {
  font-family: 'IMFellDWPica', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-lovers: 'LoversQuarrel';
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: black;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#root {
  height: 100vh;
  width: 100%;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sidebar-overlay {
  transition: all 0.3s ease-in-out;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  position: relative;
  z-index: 1;
}

.music-toggle {
  position: fixed;
  top: 1rem;
  right: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.music-toggle:hover {
  background-color: transparent;
}

.music-toggle .material-icons {
  font-size: 28px;
  color: #f5f5dc;
  transition: transform 0.3s ease;
}

.music-toggle:hover .material-icons {
  transform: scale(1.2);
  color: #fffdd0;
}

/* Animation when toggling */
@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.music-toggle .material-icons {
  animation: pop 0.4s ease;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.my-custom-slider {
  height: 100% !important; 
  z-index: 5;
}

.my-custom-slider .slick-list {
  height: 100%; 
}

.my-custom-slider .slick-track {
  height: 100%;
}

.my-custom-slider .slick-slide {
  height: 100%;
}

.my-custom-slider .slick-slide > div {
  height: 100%;
}

.my-custom-slider .slick-slide img {
  height: 100%;
  object-fit: cover; 
}
